body{

  #background-image:linear-gradient( to right, rgba(37,87,132), rgb(9, 136, 247));
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin-top: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0439D9;
  color: white;


}


*{box-sizing: border-box;}


html{
  height: 100%;
}


.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #021740;
  color: #2AC940;
  font-family: "Agency FB";
  opacity: 1;
  z-index: 4;
  width: 100%;
  height: 60px;
}


.firefly{

  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 2rem;
  text-transform: uppercase;
  color:white;
  cursor: pointer;

}

.firefly:hover {
  text-shadow:  0 0 10px #fff,
                0 0 20px #fff,
                0 0 30px #fff,
                0 0 40px #fff,
                0 0 120px #fff;
}

.links ul{

  margin: 0;
  padding: 0;
  display: flex;
  background-color:#021740;

}


.links li {

  list-style: none;

}


.links li a {

  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  text-transform: uppercase;
}


.links li:hover{

  background-color: rgb(9, 136, 247);
}


.togglebutton{

  position: absolute;
  top: .75rem;
  right: 1rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  width: 38px;
  height: 21px;
 
}


.togglebutton .bar{

  z-index: 4;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 10px;
}



@media (max-width:400px){


  .togglebutton{
      display: flex;
  }


  .links{

      display: none;
      width: 100%;
  }


  .navbar{
      flex-direction: column;
      align-items: flex-start;

  }


  .navbar .links ul{

      flex-direction: column;
      width: 100%;

  }
  .navbar .links li{

      text-align: center;

  }


  .links li a{

      padding: .5rem 1rem;
  }

  .links.active{

      display: flex;

  }

  


}
.active {
  
  background-color: #085CA6;
}



.cardhouse{

  display:flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  
}


.card{

  width:90%;
  height: 300px;
  background-color:#000;
  opacity: 0.79;
  align-self:center;
   margin-bottom: 30px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.3);
  border-radius: 8px ;
  color: #fff;
  font-family: "Agency FB";
  overflow: hidden;
  #padding-right:10px;
  #padding-left: 10px; 
  #padding-top: 20%;
  text-align: center;
  background-color:;#F2811D

}

.firstcard{

  margin-top:40px;
  text-align: center;
  align-items: center;

}


  
.thirdcard{


}

.get-started {
  width: 90%;
  z-index: 3;
  color: white;

}

.offercustomers{
  font-size: 1.5rem;
  
  padding-top:30px;
  padding-left: 10px;
  padding-right: 15px;
}

.jumpin,.ease{
  font-size: 1.5em;

}

.jumpin{
  padding-top:70px;
  align-self: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 15px;
}

.ease{
  align-self: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 15px;
}

.get-startedbutton {

  width: 50%;
  border-radius: 8px 0 0;
  fill:solid;
  background-color: #0B9ED9;
  z-index: 3;
  border: none;
  height: 22px;
  font-family: "Agency FB";
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  align-self: center;
  position: relative;
  top:50px;


}

.get-startedbutton:hover {
  color: #255784;
  background:#2196f3;
  box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
  transition-delay: 0.1s;

}
.staticimage {

  height: 70vh;
  width: 100%;
  background-color: #fff;
  background-image:url(people.svg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  
  position: static;
  z-index: -1;

}


.secondimage{
  height:70%;
  width:100%;
  background-color:white;
  #position: relative;
  #top:-230px ;
  background-image:url(cashbriefcase.svg);
  border-radius:8px 8px 0 0;
  background-color:white;
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  cursor: pointer;
  z-index: 3;
  transition:all 0.5s cubic-bezier(.48,-0.28, 0.41,1.4);
  
 
}


.image2{
  height: 70%;
  width: 100%;
  background-color: #fff;
  position: relative;
  top: -250px;
  background-image:url(people.svg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  position: relative;
  top:0px;
  transition:all 0.5s cubic-bezier(.48,-0.28, 0.41,1.4);
 
}

.secondcard:hover .secondimage {
  height:10%;
  width: 100%;
  
}

.thirdcard:hover .image2{
  height:10%;
  width: 100%;

}





.fa-twitter-square{
 
  z-index: 4;
  width: 2%;
  color:blue;
  
  align-self: center;
  position: relative;
  top: 20px;

}


.fa-instagram{


  color:pink;
 
  align-self: end;
  position: relative;
  top: 2px;

}



.fa-facebook-square{


  z-index: 4;
  color:purple;
  align-self:start;
  position: relative;
  top: -20px;
  
  

}



.firefly2{

  color: #fff;    
  padding-top :87px;
  z-index: 3;
  font-family: "Agency FB";
  align-self:left;
  position: relative;
  top: -60px;

}



.fa-mobile{
  position: relative;
  top :-30px;
  z-index: 4;
  color:white;
  align-self: start;

}




.fa-envelope{
  position: relative;
  top :-80px;
  z-index: 4;
  color:white;
  align-self: start;
  vertical-align:middle;

}




.email{

font-size: 1em;
font-family: "Agency FB";
color: #fff;
z-index: 3;
align-self: start;
margin-left: 30px;
position: relative;
top:-120px;
text-decoration: none;

}




.phoneno{
 position: relative;
 top :-63px; 
 font-size: 1em;
 font-family: "Agency FB";
 color: #fff;
 align-self: start;
 margin-left:30px;
 text-decoration: none;

}



.copyright{

font-family: "Agency FB";
font-size:0.7em;
color: #fff;
position: relative;
top: -30PX;

}


.footer{

#opacity : 0.79;
text-align: center;
background-color : #021740;
width: 100%;
z-index: 1;
margin-top: auto;
height: 300px;
display: flex;
flex-direction: column;
padding: 10px;

}



.footer .greenspan{

display: block;
position: absolute;

}



.footer .greenspan:nth-child(1){
top: 0;
left: -100%;
width: 100%;
height: 4px;
background: linear-gradient(90deg, transparent, #2AC940);
}



.footer:hover .greenspan:nth-child(1){
left: 0%;
transition: 1s;


}



.contents{
  background-color: ivory;
  width: 50%;
  height: 200px;
}

@media (min-width:600px){
  .cardhouse{

    display:flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    
        
  }

  .card{

    width:30%;
    margin-right: 30px;
    margin-top: 30px;
    align-self: center;
    height:300px;
      
    
  }

  .firstcard{
    margin-left: 30px;
  }

  .get-startedbutton{
    position: relative;
    top:20px;
  }

}