{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/8b72583613.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'mpesa/index2.css' %}" />
</head>

<body class="body" >
    <div class="navb">
        <div class="rectangle">
            <h1 class="firefly">FIREFLY</h1>
             <h2 class="about">ABOUT</h2>
             <h2 class="tecnologies">TECNOLOGIES</h2>

        </div>

    </div>

    <div class="transparentcard"> </div>

        <div class="trcontent" :hover >
        <p class="offercustomers">Offer your customers convenience by intergrating your website with  mpesa</p>


            <button type="button " onclick="location.href='{% url 'mpesaform' %}'" class="get-startedbutton":hover >GET STARTED</button>
        </div>

   

        <div class="flex1">

                <div class=" divw mpesahas" :hover>

                    <h1 class="tormendous">
                        MPesa has seen tormendous growth in the past decade.It is now a world leader in mobile money transfer.


                    </h1>
                </div>


                <div class="jumpindiv divw">

                    <p class="jumpin">
                        Jump in and take advantage of our 40% off offer to get you started on having one of the worlds most powerfull payment systems on your website!
                    </p>

                </div>
        </div>

    <div class="footer">
       
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        <a  href="https://twitter.com/ndeda_anaclate" class="fab fa-twitter-square"></a>
        <a href="https://www.instagram.com/anacorayz/" class="fab fa-instagram"></a>
        <a href="https://www.facebook.com/anaclate.umudi" class="fab fa-facebook-square"></a>
        <h1 class="firefly2">Firefly</h1>
        <i class="fas fa-mobile"></i>
        <i class="fas fa-envelope"></i>
        <a href="tel:+254-706-278-553" class="phoneno">+254 706 278 553</a>
       
        <a href="mailto: ndedaanaco@gmail.com" class="email">ndedaanaco@gmail.com</a>
        <h1 class="copyright">© 2020 firefly.All Rights Reserved</h1>
        
   
    </div>
    
    
    
</body>

</html>