.body{

  background-color: #255784;
  background-repeat: no-repeat;
  min-width: 100%;
  margin: 0;
  



}

body,html{
  min-width: 100%;
}




.rectangle{

    color: #2AC940;
    font-family: "Agency FB";
    background-color:#255784;
    z-index: 4;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    align-content: center;

}

.transparentcard {
    height: 279px;
    width: 70%;
    opacity: 0.21;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
    position: relative;
    left: 15%;
    right: 15%;
    top: 99px;
    z-index: 2;
    justify-content: center;
    align-items: center;

    text-align: center;
    cursor: pointer;


  }

  .transparentcard:hover{
    color: #255784;
    background:#2AC940;
    box-shadow: 0 0 10px #2AC940,0 0 40px #2196f3 ,0 0 80px #2196f3 ;
    transition-delay: 0.2s;
    justify-items: center;
    opacity:1;


  }


  #.navbarspace{
    width: 70%;
    height: 60px;
    background-color: tomato;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;



  }



  .firefly{
    height: 34px;
    width: 124px;
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
    position: fixed;
    left:6%;
    z-index: 6;
    top:  0;
  }


  .about{

        height: 34px;
        width: 44px;
        color: #2AC940;
        font-family: "Agency FB";
        font-size: 15px;
        line-height: 14px;
        position: fixed;
        right: 70px;
        margin-right: 50px;
        margin-left: 40px;
        top: 1.5%;



  }


  .tecnologies{
    height: 34px;
    width: 59px;
    color: #2AC940;
    font-family: "Agency FB";
    font-size: 15px;
    line-height: 14px;
    margin-right: 20px;
    position: fixed;
    right: 20px;
    top: 1.5%;


  }


  .offercustomers{
    position: relative;
    top: 80px;
    opacity: 1;
    color:white;
    font-family: "Agency FB";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    opacity: 1.0;
    z-index: 4;


  }


  .trcontent{
    height: 279px;
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 99px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;


    z-index: 3;

  }


  .get-started {
    width: 20%;
    z-index: 3;

  }



  .get-startedbutton {

    width: 50%;
    border-radius: 8px 0 0;
    fill:solid;
    background-color: #2AC940;
    position:relative;
    left: 15px;
    top: 130px;
    z-index: 3;
    border: none;
    height: 22px;
    color: #000;
    font-family: "Agency FB";
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;



  }



  .get-startedbutton:hover{

      color: #255784;
      background:#2196f3;
      box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
      transition-delay: 0.1s;


  }


  .mpesahas{

    height: 148px;
    width: 93%;
    border-radius: 8px 0 8px 8px;
    background: #060c21;
    text-align: center;

  }


  .flex1{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
    height: 400px;
    width: 100%;
    z-index: 1;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 400px;
  }

  /*


  .rectangle-3:before{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
  }

  .rectangle-3:after{
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
  }

  .rectangle-3:before,.rectangle-3:after{
    background:linear-gradient(235deg ,#89ff00 ,#060c21, #00bcd4);

  }

  */



  .mpesahas:hover{

    /*
    #filter: blur(40px);
    background:linear-gradient(235deg , #060c21, #00bcd4);
    color: #fff;*/

    color: #255784;
    background:#2196f3;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
    background-color: #060c21;
  }


  .tormendous{
    color: white;
    font-family: "Agency FB";
    line-height: 24px;
    padding-top:25px ;
    font-size: 18px;
    text-align: center;
    padding-left: 78px;
    padding-right: 78px;


  }


  .jumpindiv {
    height: 169px;
    width: 93%;
    border-radius: 8px 8px 0 0;
    background-color: #060c21;;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

    text-align: center;
    transition: 0.5 ease;
    cursor: pointer;


  }


  .jumpin {
    color: #FFF;
    font-family: "Agency FB";
    font-weight: 700;
    line-height: 24px;
    padding-top:25px ;
    font-size: 18px;
    text-align: center;
    padding-left: 78px;
    padding-right: 78px;

  }

  .jumpindiv:hover{

    transform:scale(1.2);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    width: 85%;

  }




  /*a span{
    position: absolute;
    display: block;
  }

  a span:nth-child(1){
    top:0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg ,transparent,#2196f3) ;

  }

  a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
  }*/

  .fa-twitter-square{
    position: absolute;
    top :34px;
    left: 35px;
    z-index: 4;
    width: 2%;
    color:blue;


  }

  .fa-instagram{
    position: absolute;
    top :34px;
    right: 45px;
    color:pink;

  }

  .fa-facebook-square{
    position: absolute;
    top :34px;
    z-index: 4;
    color:purple;


  }

  .firefly2{

    color: #fff;
    padding-top :87px;
    z-index: 3;


  }

  .fa-mobile{
    position: absolute;
    top :171px;
    left: 37px;
    z-index: 4;
    color:white;

  }


.fa-envelope{
  position: absolute;
  top :210px;
  left: 37px;
  z-index: 4;
  color:white;



}

.email{
  position: absolute;
  top :160px;
  left: 75px;
  font-size: 1em;
  font-family: "Agency FB";
  color: #fff;
  z-index: 3;


}


.phoneno{
  position: absolute;
  top :195px;
  left: 75px;
  font-size: 1em;
  font-family: "Agency FB";
  color: #fff;

}


.copyright{
  font-family: "Agency FB";
  padding-top:100px ;
  font-size:0.7em;
  color: #fff;

}


.footer{

  height: 300px;
  opacity : 0.79;
  text-align: center;
  background-color : #000;
  position: relative;
  top :635px;
  z-index: 1;
  margin: 0;



}


.footer span{
  display: block;
  position: absolute;



}

.footer span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #2AC940);
}

.footer:hover span:nth-child(1){
  left: 0%;
  transition: 1s;


}




@media screen and (max-width:500px){

.jumpin ,.tormendous {
font-size: 0.9em;
padding-left:40px ;
padding-right: 40px;



}

.offercustomers, .get-started{

  font-size: 0.9em;
  padding-left: 20px ;
  padding-right:


}
.transparentcard,.trcontent{

  width: 70%;
  position: absolute;
  left: 25px;
  padding-left: 20px;
  padding-right: 20px;


}

.footer{

  position: relative;
  top :800px;

}
.about, .tecnologies{
  font-size: 1em;

}
.firefly{
 font-size: 1.5em;
 left: 10px;
}

.trcontent{
  padding-left: 0px;
  padding-right: 40px;


}




}

@media screen and (min-width:500px){

  .flex1{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      overflow:auto;
      justify-content: space-around;





  }

  .divw{

     width: 40%;
     height: 50%;

  }

.jumpin ,.tormendous {
font-size: 1em;
padding-left:10px ;
padding-right: 10px;

   }

.footer{

  position: relative;
  top :500px;
}


}

@media screen and (min-width:700px){

  .flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow:auto;
    justify-content: space-around;




       }

.divw{

   width: 40%;
   height: 50%;
   align-items: center;

     }


.jumpin ,.tormendous {
  font-size: 1em;
  padding-left:40px ;
  padding-right: 40px;
  padding-top: 50px;
}

.footer{

  position: relative;
  top :500px;
}


}