.body{

  background-image:linear-gradient( to right, rgba(37,87,132), rgb(9, 136, 247));
    margin: 0;
    #color: white;
    font-family: "Agency FB";
    

}


.rectangle{
    
    color: #2AC940;
    font-family: "Agency FB";
    background-color:#000;
    opacity: 0.79;
    z-index: 4;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0%;
    align-content: center;
    
}



.content{
position:absolute;
top: 400px;
}


.pagecontainer{

position: relative;
min-height: 100vh;



}

.contentwrap{

  padding-bottom:150px;



}


.firefly{
    height: 34px;
    width: 124px;
    font-size: 25px;
    font-weight: 700;
    line-height: 26px;
    position: fixed;
    left:6%;
    z-index: 6;
    top:  0;
  }


  .about{

        height: 34px;
        width: 44px;
        color: #2AC940;
        -webkit-font-family: ;
        font-family: "Agency FB";
        font-size: 15px;
        line-height: 14px;
        position: fixed;
        right: 70px;
        margin-right: 50px;
        margin-left: 40px;
        top: 1.5%;
        
       
      
  }


  .tecnologies{
    height: 34px;
    width: 59px;
    color: #2AC940;
    font-family: "Agency FB";
    font-size: 15px;
    line-height: 14px;
    margin-right: 20px;
    position: fixed;
    right: 20px;
    top: 1.5%;
    
    
  }

  .containerform{
      background-color: white;
      position: relative;
      width: 90%;
      height: 400px;
      top: -250px;
      left:5%;
      z-index: 2;
      border-radius: 8px 8px 8px 8px;
      box-shadow:0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
      #background-color: #255784;






  }

  .nocontentsdiv{

    #background-color: white;
    position: relative;
    width: 90%;
    height: 400px;
    top: 150px;
    left:5%;
    z-index: 1;
    opacity: .35;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
    border-radius: 8px 8px 8px 8px;
    align-items: center;


  }

  
 
  .firstname{
    
    position: absolute;
    top:100px;
    left: 38%;
    width: 50%;
    border: none;
    border-bottom: 2px solid  #2AC940;
    outline: none;
    
   

  }


  input:invalid {
    box-shadow: none;
}

  .namel{


    position: absolute;
    top:100px;
    left: 5%;
    z-index: 2;
    
    

  }


.firstname:focus ~ .namel{

    color: #2AC940;

    transform: translateY(-20px);
    position: absolute;
    top:80px;
    
}

input:focus{


color: #2AC940;
    
   
}





  .simu{

    position: absolute;
    top:150px;
    left: 5%;
     
   
  }


  .phoneno1{
    position: absolute;
    top:150px;
    left: 38%;
    width: 50%;
    border: none;
    border-bottom: 2px solid  #2AC940;
    

  }




  .comments{
   
    position: absolute;
    top:250px;
    left: 38%;
    width: 50%;
    border: none;
    border-bottom: 2px solid  #2AC940;

  }



  .commentl{

    position: absolute;
    top:250px;
    left: 5%;


  }




  .submit{
    position: absolute;
    top:300px;
    left: 35%;
    width: 25%;
    background-color:#2AC940 ;
    border: none;

  }


  .pa{
    position: absolute;
    top:170px;
    left: 35%;
    font-size: .8em;
    

   
  }

  .submitb{
      font-size: .7rem;
      color: white;
     
  }


  .hello{
    position: absolute;
    top:5px;
    left: 35%;
    size: 5px;


    }

  













  .fa-twitter-square{
    position: absolute;
    top :34px;
    left: 35px;
    z-index: 4;
    width: 2%;
    color:blue;
    

  }

  .fa-instagram{
    position: absolute;
    top :34px;
    right: 45px;
    color:pink;

  }

  .fa-facebook-square{
    position: absolute;
    top :34px;
    z-index: 4;
    color:purple;
    
  
  }

  .firefly2{

    color: #fff;    
    padding-top :87px;
    z-index: 3;
    

  }

  .fa-mobile{
    position: absolute;
    top :171px;
    left: 37px;
    z-index: 4;
    color:white;

  }


.fa-envelope{
  position: absolute;
  top :210px;
  left: 37px;
  z-index: 4;
  color:white;
  


}

.email{
  position: absolute;
  top :160px;
  left: 75px;
  font-size: 1em;
  font-family: "Agency FB";
  color: #fff;
  z-index: 3;

  
}


.phoneno{
  position: absolute;
  top :195px;
  left: 75px;
  font-size: 1em;
  font-family: "Agency FB";
  color: #fff;

}


.copyright{
  font-family: "Agency FB";
  padding-top:100px ;
  font-size:0.7em;
  color: #fff;

}
  
  
.footer{

 opacity : 0.79;
  text-align: center;
  background-color : #000;
  position: absolute;
  bottom :0;
  width: 100%;
  z-index: 1;
  margin: 0;
  height: 300px;


}


.footer span{
  display: block;
  position: absolute;

  
 
}

.footer span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #2AC940);
}

.footer:hover span:nth-child(1){
  left: 0%;
  transition: 1s;

 
}


.container{
      
    position: absolute;
    width: 50%;
    height: 55vh;
    top: 150px;
    left:25%;
    z-index: 2;
    border-radius: 8px 8px 8px 8px;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
    

    
}
/*
.nocontentsdiv{

  #background-color: white;
  position: absolute;
  width: 50%;
  height: 60vh;
  top: 150px;
  left:25%;
  z-index: 1;
  opacity: .35;
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.5), 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 8px 8px 8px 8px;
  align-items: center;
  
}*/
@media screen and (min-width:400px){

  .nocontentsdiv,.containerform{
    width: 80%;
    left:10%;
    height: 400px;


}






}

@media screen and (min-width:750px){



  .nocontentsdiv,.containerform{
      max-width: 50%;
      left: 25%;

      height: 400px;


  }


}


@media screen and (max-width:400px){

.hello{
    position: absolute;
    top:5px;
    left: 20%;
    size: 5px;



    }




}

