{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/8b72583613.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'mpesa/stingo.css' %}" />
</head>

<body class="body">

        <div class ="pagecontainer">
            <div class="contentwrap">
             <div class="navb">
                        <div class="rectangle">
                            <h1 class="firefly">FIREFLY</h1>

                                <h2 class="about">ABOUT</h2>
                                <h2 class="tecnologies">TECNOLOGIES</h2>

                        </div>

                    </div>

                    <div class="nocontentsdiv"></div>

                     <div class="containerform">

                            <form action="Viewclass" method="post">{% csrf_token %}

                                    <label id="name1" for="firstname" class="namel label"name="fn" >First Name:</label>
                                    <input class="firstname" type="text" name="firstname" placeholder="First Name" required>

                                    <label for="phone" class="simu" name="fn" >Phone Number&nbsp;:</label>&nbsp;
                                    <input class="phoneno1" type="text" name="phone" required placeholder="Phone Number" >

                                    <p class="pa">please enter your phone number in the following format 2547********</p>



                                    <label for="comment"class="commentl" name="fn" >Comment:</label>
                                    <input class="comments" type="text" name="comment" placeholder="Write something..." >



                                <button class="submit" type="submit"><h2 class="submitb" >SUBMIT</h2></button>




                                <p class="hello"><strong>Hello!</strong>, great to see you here.</p>

                                {% if messages %}
                                {% for message in messages %}
                                <div class="messages">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}


                            </form>

                     </div>




           </div>


        
                <div class="footer">

                <span></span>
                <span></span>
                <span></span>
                <span></span>

                <a  href="https://twitter.com/ndeda_anaclate" class="fab fa-twitter-square"></a>
                <a href="https://www.instagram.com/anacorayz/" class="fab fa-instagram"></a>
                <a href="https://www.facebook.com/anaclate.umudii" class="fab fa-facebook-square"></a>
                <h1 class="firefly2">Firefly</h1>
                <i class="fas fa-mobile"></i>
                <i class="fas fa-envelope"></i>
                <a href="tel:+254-706-278-553" class="phoneno">+254 706 278 553</a>

                <a href="mailto: ndedaanaco@gmail.com" class="email">ndedaanaco@gmail.com</a>
                <h1 class="copyright">© 2020 firefly.All Rights Reserved</h1>


            </div>

    </div>



</body>

</html>
