{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mpesa/tecnologies.css' %}"/>
</head>
<body class="body">
    <div class="navb">
                        <div class="rectangle">
                            <a href="#" class="firefly" onclick="location.href='{% url 'home' %}'">FIREFLY</a>
                             <a class="about" onclick="location.href='{% url 'about' %}'">ABOUT</a>
                             <a class="tecnologies" onclick="location.href='{% url 'tecnologies' %}'">TECNOLOGIES</a>

                        </div>

                    </div>

<div class="bodycontent">

<div class="django card"></div>
<div class="python card"></div>
<div class="postgres card"></div>
<div class="heroku card"></div>
<div class="amazon card"></div>
<div class="css3 card"></div>
<div class="Html5 card"></div>
<div class="djangorest card"></div>
<div class="Api card"></div>
<div class="kivy card"></div>
<div class="kivymd card"></div>





</div>

<div class="footer">
            
    <span></span>
    <span></span>
    <span></span>
    <span></span>

    <i class="fab fa-twitter-square"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-facebook-square"></i>
    <h1 class="firefly2">Firefly</h1>
    <i class="fas fa-mobile"></i>
    <i class="fas fa-envelope"></i>
    <h1 class="phoneno">+254 706 278 553</h1>

    <h1 class="email">ndedaanaco@gmail.com</h1>
    <h1 class="copyright">© 2020 firefly.All Rights Reserved</h1>
    

</div>

    </body>
</html>