{%  extends 'mpesa/base.html' %}

{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="web-fonts-with-css/css/fontawesome.all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mpesa/tech.css' %}" />
    <script src="https://kit.fontawesome.com/8b72583613.js" crossorigin="anonymous"></script>
</head>
<body>


        {% block content %}
        <div class="trydiv"></div>
        <div class="bodycontent">

            <div class="django cardt"></div>
            <div class="python cardt"></div>
            <div class="postgres cardt"></div>
            <div class="heroku cardt"></div>
            <div class="amazon cardt"></div>
            <div class="css3 cardt"></div>
            <div class="Html5 cardt"></div>
            <div class="djangorest cardt"></div>
            <div class="Api cardt"></div>
            <div class="kivy cardt"></div>
            <div class="kivymd cardt"></div>


        </div>
        {% endblock %}




    </body>
</html>