{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stingo.css' %}"/>
</head>
<body >
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#contacts">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspContacts</a>
        <a href="#About">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAbout</a>
    </div>
    <br>
    <br>

        <div>

        <p id="p"><strong>Hello!</strong>, great to see you here.<br>

            Feel free to try out this cool new lipa na mpesa featrure.
            I however discourage going through with the payment process once the mpesa menu pops up on your screen.<br>The paybill I am using is for testing purposes
            so the money will  definitely go straight to safaricom's fat pocket. Don't be shy to leave a comment</p>

        </div>

       <div class="content">
            <div class="container">

                    <form action="submited" method="post"> {% csrf_token %}

                            <label for="firstname" name="fn" >First Name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
                            <input class="input" type="text" id="firstname" placeholder="First Name"><br><br>



                        <div>
                            <label for="phone" name="fn" >Phone Number:</label>
                            <input class="input" type="text" id="phone" placeholder="Phone number">
                        </div>

                        <div>
                            <p><em><strong>please enter your phone number in the following format 2547********</strong></em></p><br>
                        </div>

                        <div>
                            <label for="comment" name="fn" >Comment:</label>
                            <input type="text" id="comment" placeholder="Write something..." style="height:100px; border: 2px solid green"><br><br>
                        </div>

                        <div>
                        <button class="button" type="submit">SUBMIT</button>
                        </div>
                    </form>
             </div>

        </div>


</body>
</html>